<div style="margin: 5px; margin-top: 0px; border-top: 1px solid white; ">
    <div class="section-body">
        <div class="row">
            <table class="table" id="activity_table">
                <tr>
                    <th>{{ _("Employee") }}</th>
                    <th>{{ _("Activity") }}</th>
                    <th>{{ _("Details") }}</th>
                    <th>{{ _("Customer") }}</th>
                </tr>
                
            </table>
        </div>
    </div>
</div>

<input type="text" class="form-control" id="key" style="visibility: hidden; ">
