{% set vars = {'counter': 0} %}
{% for d in details %}<!-- per delivery note -->
  {% for i in d['items'] %}<!-- per item position -->

{% if vars.update({'counter': vars.counter + 1}) %}{% endif %}
<table style="width: 73mm; height: 33mm; {% if vars.counter < (detail_count) %}page-break-after: always;{% endif %} font-size: 14px; ">
    <tr>
        <td style="margin-top: 10px; font-site: 10px; width: 70px; ">
            <center><img src="https://stanztech.libracore.ch/files/stanztech_logo_2022.png" style="width: 40px; "></center>
        </td>
        <td>
            <br>
            {{ _("Ref") }}: {{ d.po_no or d.name }}<br>
            {{ i.item_code }}<br>
            {{ i.item_name }}<br>
            {{ i.qty }} {{ i.uom }}
        </td>
    </tr>
</table>


  {% endfor %}
{% endfor %}
